<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>372828739124-l6oqjjhug3uqacu255pk9g58k7bkbqch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372828739124-l6oqjjhug3uqacu255pk9g58k7bkbqch</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ64A2yJgC_TpvtDiccFxM26lugJe724g</string>
	<key>GCM_SENDER_ID</key>
	<string>372828739124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.emstudent.singlebell</string>
	<key>PROJECT_ID</key>
	<string>singlebell-79eb0</string>
	<key>STORAGE_BUCKET</key>
	<string>singlebell-79eb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372828739124:ios:5940b59d6a6e13a0</string>
	<key>DATABASE_URL</key>
	<string>https://singlebell-79eb0.firebaseio.com</string>
</dict>
</plist>