page-resultat {

  h1.grow {
    animation: grow 1s ease-in-out;
    font-size: 2em !important;
    text-align: center;
  }

  h2 {
    font-size: 2em !important;
  }

  .checkbox-disabled {
    opacity: 1 !important;
  }

  ion-label {
    opacity: 1 !important;
    font-size: 1.3em;
    font-weight: 400 !important;
  }


  @keyframes grow {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 2em !important;
    }
  }

}
