<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-card *ngFor="let categorie of categories" [ngClass]="{'card-grey': programLocked == true && categorie.name == 'Programme', 'card-primary' : programLocked == false && categorie.name == 'Programme', 'card-primary': true}" (click)="pushFor(categorie)">
      <ion-card-header>
        <h1>
          {{ categorie.name }}
          <ion-icon float-right name="{{ categorie.icon }}"></ion-icon>
        </h1>
      </ion-card-header>
      <ion-card-content>
        <ion-row no-padding >
          <ion-col col-12 col-md-6 no-padding text-center text-md-left>
            <span item-start>{{ categorie.description }}</span>
          </ion-col>
          <ion-col col-12 col-md-6 no-padding text-center text-md-right *ngIf="programLocked == true && categorie.name == 'Programme'">
            <p item-end >
              Prochain le {{ lockTimer | date : 'dd MMMM à HH:mm' }}
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
</ion-content>
