h1 {
  font-size: 2.6em !important;
  color: map-get($colors, 'primary');
}

h2 {
  font-size: 2em !important;
}

h3 {
  font-size: 1.7em !important;
}

h4 {
  font-size: 1.4em !important;
}

* {
  font-family: "Avenir Next";
}

ion-header {
  text-transform: uppercase;
}

ion-card {
  color: gray;
}

@each $color in $colors {
  ion-card.card-#{nth($color, 1)} {
    border-top: 5px solid #{nth($color, 2)};

    ion-card-header.card-header h1 {
      color: #{nth($color, 2)};
    }

  }

  ion-title.#{nth($color, 1)} .toolbar-title {
    color: #{nth($color, 2)} !important;
  }

  @for $i from 0 through 10 {
    *.#{nth($color, 1)} {
      color: #{nth($color, 2)} !important;
    }
  }
}

ion-input {
  margin:0;
}

ion-input .text-input {
  background: rgba(0,0,0,0.05);
  border: solid rgba(0,0,0,0.1) 1px;
  border-radius: 5px;
  padding: 1em;
}
