ion-header {
  text-transform: uppercase;
}

ion-card {
  color: gray;
}

@each $color in $colors {
  ion-card.card-#{nth($color, 1)} {
    border-top: 5px solid #{nth($color, 2)};

    ion-card-header.card-header h1 {
      color: #{nth($color, 2)};
    }

  }

  ion-title.#{nth($color, 1)} .toolbar-title,
  h1.#{nth($color, 1)} {
    color: #{nth($color, 2)} !important;
  }
}
