<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{type.name}}</ion-title>
    <ion-title>Level {{rank}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <p>{{type.name}} ?</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button class="sound_btn" (click)="playSound(currentQuestion.answer)">
        <ion-icon name="musical-notes"></ion-icon>
      </button>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col  ng col-3 class="choices"*ngFor="let choice of choices" (click)="checkAnswer(choice.position,$event)" [ngSwitch]="choice.name == currentQuestion.answer.name">
        <button *ngSwitchCase="true" ion-button (click)="playSound(choice)" [ngClass]="{'disableGood':btnSwitch,'enable':!btnSwitch}" >{{choice.name}}</button>
        <button *ngSwitchCase="false" ion-button (click)="playSound(choice)" [ngClass]="{'disableFalse':btnSwitch,'enable':!btnSwitch}" >{{choice.name}}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [ngSwitch]="checkUserChoice" *ngIf="hidden">
        <p *ngSwitchCase="true">Bonne Réponse !</p>
        <p *ngSwitchCase="false">Mauvaise réponse ! La bonne réponse est : {{currentQuestion.answer.name}}</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-end>
      <ion-col>
        <button ion-button style="float:right" (click)="nextQuestion()" [disabled]="!btnSwitch">Suivant &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
