page-questions {

  .sound_btn{
    border-radius: 50%;
    width:100px;
    height:100px;
  }

  .choices{
    text-align: center;
  }

  .transform_note{
    text-transform: none!important;
  }

  .enable{

  }

  .disableGood{
    background-color: green !important
  }

  .disableFalse{
    background-color: red !important;
  }

}
