<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>{{type.name}}</ion-title>
    <ion-buttons end>
      <button ion-button clear readonly>Level {{rank}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col>
          <p>Questions {{nbQuestion}}/{{nbQuestionMax}}</p>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col style="text-align:center">
          <p>{{type.description}} ?</p>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col class="choices">
          <button ion-button class="sound_btn" (click)="playSound(currentQuestion.notes)">
            <ion-icon name="musical-notes"></ion-icon>
          </button>
        </ion-col>
        <ion-col class="choices" *ngIf="switchRefNote">
          <button ion-button class="sound_btn_Ref" (click)="playSound([refNote])">
            {{refNote.name}}
          </button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col ng col-3 class="choices" *ngFor="let choice of choices" (click)="checkAnswer(choice,$event)" [ngSwitch]="choice.name == currentQuestion.correctAnswer.name">
          <button *ngSwitchCase="true" class="text-transform" ion-button (click)="playSoundFromChoices(choice)" [ngClass]="{'disableGood':btnSwitch,'enable':!btnSwitch}" >{{labelForAnswer(currentQuestion, choice)}}</button>
          <button *ngSwitchCase="false"  class="text-transform" ion-button (click)="playSoundFromChoices(choice)" [ngClass]="{'disableFalse':btnSwitch,'enable':!btnSwitch}" >{{labelForAnswer(currentQuestion, choice)}}</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [ngSwitch]="checkUserChoice" *ngIf="hidden">
          <p *ngSwitchCase="true">Bonne Réponse !</p>
          <p *ngSwitchCase="false">Mauvaise réponse ! La bonne réponse est : {{labelForAnswer(currentQuestion, currentQuestion.correctAnswer)}}</p>
        </ion-col>
      </ion-row>
      <ion-row justify-content-end>
        <ion-col  [ngSwitch]="nbQuestion == nbQuestionMax">
          <button *ngSwitchCase="false" ion-button style="float:right" (click)="nextQuestion()" [disabled]="!btnSwitch">Suivant &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon></button>
          <button *ngSwitchCase="true" ion-button style="float:right" (click)="nextQuestion()" [disabled]="!btnSwitch">Résultats &nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
